.slick-prev {
    left: 5px;
    z-index: 99;
}

.slick-next {
    right: 5px; 
    z-index: 99;
}

/* .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    background: transparent;
} */


    